<form th:action="@{~/product/save}" th:object="${product}" method="post">
    <input type="hidden" name="id" id="id" th:field="*{id}">
    <div class="mb-3">
        <label for="productName" class="form-label">Product Name</label>
        <input type="text" class="form-control" name="name" id="productName" placeholder="Input Product Name" th:field="*{name}">
    </div>
    <div class="mb-3">
        <label for="productInitial" class="form-label">Initial</label>
        <input type="text" class="form-control" name="initial" id="productInitial" placeholder="Input Product Initial" th:field="*{initial}">
    </div>
    <div class="mb-3">
        <label for="categoryId" class="form-label">Category ID</label>
        <select name="categoryId" id="categoryId" class="form-select">
            <option value="" hidden selected="true" disabled="true">Select Category</option>
            <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="productActive" class="form-label">Active</label>
        <input id="productActive" type="checkbox" th:checked="${product.active}">
    </div>
    <button type="submit" class="btn btn-primary" style="float: right;">Save</button>
</form>