<form th:action="@{~/variant/save}" th:object="${variant}" method="post">
    <input type="hidden" name="id" id="id" th:field="*{id}">
    <div class="mb-3">
        <label for="variantName" class="form-label">Variant Name</label>
        <input type="text" class="form-control" name="name" id="variantName" placeholder="Input Product Name" th:field="*{name}">
    </div>
    <div class="mb-3">
        <label for="variantInitial" class="form-label">Initial</label>
        <input type="text" class="form-control" name="initial" id="variantInitial" placeholder="Input Product Initial" th:field="*{initial}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" name="description" rows="4" cols="50" th:field="*{description}" placeholder="Input Product Description"></textarea>
    </div>
    <div class="mb-3">
        <div class="mb-3">
            <label for="categoryId" class="form-label">Category ID</label>
            <select name="categoryId" class="form-select" id="categoryId" onchange="updateVariant(this.value)">
                <option value="" hidden selected="true" disabled="true">Select Category</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                        th:selected="${category.id == categoryId}">

                </option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <div class="mb-3">
            <label for="productId" class="form-label">Product ID</label>
            <select name="productId" class="form-select" id="productId" th:field="*{productId}">
                <option value="" selected="true" disabled="true">Select Product</option>
                <option th:each="product : ${products}"
                        th:value="${product.id}"
                        th:selected="${product.id} == ${variant.productId}"
                        th:text="${product.name}">
                </option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" name="price" id="price" placeholder="Input Variant Price" th:field="*{price}">
    </div>
    <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input type="number" class="form-control" name="stock" id="stock" placeholder="Input Variant Stock" th:field="*{stock}">
    </div>
    <div class="mb-3">
        <label for="variantActive" class="form-label">Active</label>
        <input id="variantActive" type="checkbox" th:checked="${variant.active}">
    </div>
    <button type="submit" class="btn btn-primary" style="float: right;">Save</button>
</form>